.navbar {
    background-color: #F05D5E;
    ;
}

.navbar__ul {
    display: flex;
    justify-content: space-between;
}

.navbar__li {
    list-style-type: none;
    padding: 1em;
}

.navbar__li a {
text-decoration: none;
color:#E7ECEF;
padding: 1em;
}

.navbar__li a:hover {
    color:#E7ECEF;
}

.navbar__spacer {
    flex: 1 0 auto;
}
