.navbar {
    background-color:  gray;
}

.navbar__ul {
    display: flex;
    justify-content: space-between;
}

.navbar__li {
    list-style-type: none;
    padding: 1em;
}

.navbar__li a {
text-decoration: none;
color:white;
padding: 1em;
}

.navbar__li a:hover {
    color:skyblue;
}

