.card {
 background-color: darkgray;
 color:black;
 border-radius: 2px;
}

.image {
    width: 100%;
    height: 200px;
}

.title {
    background-color:#F05D5E;
    color:#E7ECEF;
    width: 100%;
    height: 100px;
}